@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The Riteway Employee Management System is designed to facilitate more effective management of the most important asset, employees.
</p>
